doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title fun-tester
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width')
  //- vendor:css
  //- endinject
  
  //- app:css
  //- endinject

body(ng-app="fun-tester")
  div.container(ng-view)
    
  
  //- vendor:js
  //- endinject
  
  //- app:js 
  //- endinject
